

body{
	margin-top: 20px;
	background: lightblue;
	justify-content: center;
	min-height: 100vh;
	
	display: flex;
	font-family: 'Poppins', sans-serif;
	line-height: 0.80;

}
.contactinfo{
    cursor: pointer;
    color: white;
    line-height: 1.5;
}

.education{
	line-height: 0.85;
}
.right_side .languages p{
	padding: 10px 15px 15px;
	line-height: 1em;
	text-align: justify;
}
.right_side .languages .a{
	line-height: 1.5em;
}



.languages .percent{

   position: relative;
   width: 100%;
   height: 6px;
   background: #FF5733;
   display: block;
   margin-top: 5px;


}

table{

	border-spacing: 10px;
}



img{
	width: 60%;
	height: 30%;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.div1{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background: white;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.div1 .left_side{
	position: relative;
	background:#2874A6;
	padding: 40px;
}
.div1 .right_side{
	position: relative;
	background: white;
	padding: 40px;
}